{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'registration/Login/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/Login/css/rtl.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'registration/Login/images/img_khar.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" method="post">{% csrf_token %}
					<span class="login100-form-title myfont">
						  {% block form_title %}{% endblock %} 
					</span>

					{% block form_div1 %}
						{% block form_name1 %}{% endblock %}
					{% endblock %}

					
					{% block form_div2 %}
						{% block form_name2 %}{% endblock %}
					{% endblock %}
					

					{% block form_div3 %}
						{% block form_name3 %}{% endblock %}
					{% endblock %}


					{% block form_div4 %}
						{% block form_name4 %}{% endblock %}
					{% endblock %}					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn myfont">
							{% block btn_name %}{% endblock %}
						</button>
					</div>
					<br>
					{% block faramushi %}
					{% endblock %}

					{% block bir_account %}
					{% endblock %}
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'registration/Login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/Login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/Login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/Login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/Login/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'registration/Login/js/main.js' %}"></script>

</body>
</html>