{% load static %}

<!DOCTYPE html>
<html lang="en">
<title>چخدن گوتولده </title>

<head>
 <link rel="stylesheet" href="{% static 'registration/adminlte/assets/css/alert.css' %}">
<body>

<center>

<h4>چخدن گوتولده</h4>

<p>الر وار بيزيننيدين<br> آما ايندي ايستيسن نينيسن ؟ گدرسن هش الله راس گتيسين گالرسان اوندا گه آشايا</p>

<p>ايستيسن گدسن توکآنا ؟ </p>

<a class="alert alert-dark" style="text-decoration: none;" href="{% url 'shop:productList' %}">مني آپار</a>
<br>
<br>
<br>
<br>

<p>ايستيسن گيتسن ؟​</p>

<a class="alert alert-primary" style="text-decoration: none;" href="{% url 'account:home' %}">مني گيتر</a>

</center>
</body>
</html>

