{% extends 'registration/base_registrations.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form_title %}ایچریه گیرماخ {% endblock %} 


{% block form_div1 %}
<div class="wrap-input100 validate-input" data-validate = "Password is required">
	{% block form_name1 %}{{form.username|add_class:"input100"}} {% endblock %}
	<span class="focus-input100"></span>
	<span class="symbol-input100">
		<i class="fa fa-envelope myrtl " aria-hidden="true"></i>
	</span>
</div>
{% endblock %}

{% block form_div2 %}
<div class="wrap-input100 validate-input" data-validate = "Password is required">
	{% block form_name2 %}	{{form.password|add_class:"input100"}} {% endblock %}
	<span class="focus-input100"></span>
	<span class="symbol-input100">
		<i class="fa fa-lock myrtl " aria-hidden="true"></i>
	</span>
</div>
{% endblock %}



{% block form_div3 %}
	{% block form_name3 %}{% endblock %}
{% endblock %}


{% block form_div4 %}
	{% block form_name4 %}{% endblock %}
{% endblock %}
					

{% block btn_name %} ورود {% endblock %}

{% block faramushi %}<a class="myfont" style="font-size: 15px" href="{% url 'password_reset' %}">فراموشی گذرواژه</a>{% endblock %}

{% block bir_account %}

<div class="text-center p-t-136">
	<a class="txt2 myfont" href="#">
		بیر اکانت آچ
		<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
	</a>
</div>
{% endblock %}
	
	

