{% extends 'registration/base_registrations.html' %}
{% load static %}
{% load widget_tweaks %}

{% block form_title %}بازیابی رمز عبور{% endblock %} 


{% block form_div1 %}
<div class="wrap-input100 validate-input" data-validate = "Password is required">
	{% block form_name1 %}{{form.email|add_class:"input100"}} {% endblock %}
	<span class="focus-input100"></span>
	<span class="symbol-input100">
		<i class="fa fa-envelope myrtl " aria-hidden="true"></i>
	</span>
</div>
{% endblock %}


{% block form_div2 %}
	{% block form_name2 %}{% endblock %}
{% endblock %}	



{% block form_div3 %}
	{% block form_name3 %}{% endblock %}
{% endblock %}


{% block form_div4 %}
	{% block form_name4 %}{% endblock %}
{% endblock %}


{% block form_div5 %}
	{% block form_name5 %}{% endblock %}
{% endblock %}


{% block btn_name %} ارسال لینک بازیابی {% endblock %}

{% block faramushi %}{% endblock %}

{% block bir_account %}
{% endblock %}
	
	

