{% extends 'shop/list.html' %}

{% load base_tags %}
{% load gravatar %}


{% block slider %}
{% endblock %}


{% block search_1 %}{% endblock %}
{% block search_2 %}{% endblock %}
{% block search_3 %}{% endblock %}


{% block header %}
{% endblock %}


{% block previous_page_url %}
	{% url 'shop:author' author.username page_obj.previous_page_number %}
{% endblock %}


{% block next_page_url %}
	{% url 'shop:author' author.username page_obj.next_page_number %}
{% endblock %}

{% block number_page %}
	{% url 'shop:author' author.username %}
{% endblock %}


{% block in_page1 %}
	{% url 'shop:author' author.username %}
{% endblock %}
{% block in_page2 %}
	{% url 'shop:author' author.username %}
{% endblock %}

{% block category_items %}
{% endblock %}
<!-- نکته : این جا نباید کتهگوری نشون بده باید خلاصه ای از رزمه رو نشون بده که بعدا باید بسازمش !  -->



{% block sidebar_items %}
	<img class="img-thumbnail rounded-bottom"
		src="{% gravatar_url author.email 260%}"
		alt="author profile picture">
	<p>{{author.get_full_name}}</p>
	<div class="text-justify">
		<span class="border">سلام</span>
		<p class="border">{{author.notes|linebreaks}}</p>	
	</div>
	<div class="text-justify">
		<span class="border">تحصیلات</span>
		<p class="border">{{author.Education|linebreaks}}</p>
	</div>

	{% popular_products %}
{% endblock %}