{% extends 'shop/base.html' %}

{% load base_tags %}


{% load static %}

{% load humanize %}


{% block main %}

<div class="col-lg-3">
  {% category_navbar %}
  {% popular_products %}
</div>
{% load ratings %}
{% load crispy_forms_tags %}

<!-- {% block title %} {{object.title}} {% endblock %} -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top" src="{{product.thumbnail.url}}" alt="{{object.title}}" height="700px">
          <div class="card-body">
            <h3 class="card-title">{{object.title}}</h3>
            <h4>{{object.price}}</h4>
            <div class="text-justify">
              <p class="card-text">{{object.description|safe|linebreaks}}</p>
            </div>
            <div>
              <form method="POST" action="/cart/add-user-cart">
                {% csrf_token %}
                {{cart_form.product_id}}
                <label>تعداد :</label>
                {{ cart_form.count }}
                <!-- من به این باتن یه اسم دادم به علت وجود دو تا فرم 
                و استفاده از شرط در ویو سبد خرید  -->
                <button name="cart_form" type="submit" class="btn  btn-outline-secondary" >
                  <i class="fa fa-shopping-cart"></i>
                  افزودن به سبد خرید
                </button>
              </form>
            </div>
             <div>
              {{object.f_language}}
              {{object.b_language}}
              <time>{{object.publish|naturaltime}}</tim>
                <!-- این خط کد بالایی عدد رو درست نشون نمیده بهتره پرسیده شود  -->
            </div>
            <span class="text-warning">{% ratings object %}</span>
          </div>
        </div>
        <!-- /.card -->
<!-- کامنت ها  -->       

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            دیدگاه ها   
          </div>
          <div class="card-body">
            {% for  cmt in comments %}
              <p>{{cmt.name}} در <time>{{cmt.created_on |naturaltime }}</time> گفته است : </p>
              <p> &emsp; {{cmt.body}}</p>
              
              <hr style="margin-top: 4px">
            {% endfor %}
            {% if user.is_authenticated %}
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <p style="color: #4535fc" >دیدگاه خود را به اشتراک بگذارید</p>
                  {{ comment_form | crispy }}
                  <!-- من به این باتن یه اسم دادم به علت وجود دو تا فرم در صفحه و استفاده از شرط که انگاری مشکلی نبود و حل شد و نیازی بهش نشد 
                  ولی تو بالا مثل این که فایده داشته باشه یا نداشته باشه 
                  ازش استفاده شده صرفا جهت اطلاع  -->
                <button name="comment_form" class="btn btn-info" type="submit">فرستادن<i class="fas fa-comments"></i></button>
                </div>
              </form>
            {% else %}

              <p style="margin-right: 25%" > برای به اشتراک گذاری دیدگاه خود ابتدا <a href="{% url 'login' %}">وارد</a> شوید </p>

            {% endif %}
        </div>
        </div>
      </div>
{% endblock %}
